#carouselExample {
    display: none;
}

.container .pr-1 {
    padding-right: 0px !important;
}

.product-left {
    position: absolute;
    left: 36%;
    font-size: 19px;

}

.line-through {
    text-decoration: line-through;
}

.border-sale {
    border-radius: 20px;
    background-color: #c3c3c37a;
}

.card-body p {
    margin-bottom: 5px;

}

.border-sale-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #ffa500;
    width: 80%;
    border-radius: 15px;
}

.border-btn {
    border-radius: 50px !important;

}

.border-full {
    border-radius: 15px;
}

.border-bottom {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.border-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-pills .nav-link.active {
    background-color: rgba(255, 255, 0, 0.5) !important;
    transform: scale(0.8);
}

.fade {
    position: relative;

}

.btn-more {
    margin-top: 5px;
    background-color: #ffffff !important;
    width: 200px;
}

.price {
    color: #ff0000;
    font-weight: bold;
    font-size: 23px;
}

.percent {
    background-color: #FFB6C1;
    color: #ff0000;
    border-radius: 11px;

}

.banner-prd {
    width: 100%;
    height: auto;

}

.main-flash-sale {
    padding: 1rem !important;
    background-color: #fd7e14;
}

.bg-flash-sale {
    background-color: #fda70b;

}

.bg-laptop-new {
    background-color: #fda70b;
}

.bg-laptop-gaming {
    background-color: #2E1B5B;
}

.bg-laptop-cu {
    background-color: #070e30;
}

.bg-pc-theo-nhu-cau {
    background-color: #fd8421;
}

.bg-pc {
    background-color: black;
}

.bg-man-hinh {
    background-color: #0b0b0b;
}

.bg-phu-kien {
    background-color: #0E1727;
}

button.nav-link {
    width: 140px;
    height: 75px;
    background-color: #85858524;
}

button.custom-font-btn {
    width: auto;
    height: auto;
}

button.custom-font-btn-white {
    width: auto;
    height: auto;
}

.menu-btn {
    position: fixed;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    z-index: 22;
}



.title-flash-sale {
    background: url("image-flash-sale/flash-sale-1320-120.gif");
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    padding-left: 50%;

}

.title-countdown {
    font-size: 18px !important;
}

button.nav-link {
    transform: scale(0.9);
}

.nav-pills .nav-link.active {
    transform: scale(1);

}

.time-end-flashSale {
    width: 32%;
    margin-top: auto;
    margin-bottom: auto;
}

.title-countdown {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: black;
}

.time-end {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 29px;
    border-radius: 10px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}


.count-down {
    width: 33%;
    text-align: center;
    border-radius: 5px;
    color: snow;
    margin: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@keyframes pink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.filters-product {
    margin: 5px;
}

.custom-filters-btn {
    border: none !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.btn-white {
    color: snow !important;
}



span#seconds::before,
span#minutes::before {
    content: ":";
    float: left;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    opacity: 0.7;
    animation: pink 1.5s ease-in-out infinite;
}

.listing-timeline {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.happening,
.upcoming {
    font-size: 25px;
    text-align: center;
    width: 40%;
    border: none;
    background: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    content: "";
    position: absolute;
    bottom: -6px;
    height: 4px;
    border-radius: 100px;
    width: 60px;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    /* Mặc định hiển thị thanh gạch ở vị trí bắt đầu */
}


.product-list {
    display: flex;
    overflow-x: scroll;
    width: 100%;

}

.product-sale {
    flex: 0 0 315px;
    margin-right: 10px;
}

.product {
    flex: 0 0 300px;
    margin-right: 10px;
}

.img-prd {
    width: 100%;
    height: auto;
}

.scroll-x {

    z-index: 3;
    display: flex;
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.btn-scroll-x {
    border: none;
    background: rgba(128, 128, 128, 0.3);

}

.scroll-prd {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    z-index: 3;
}

.btn-scroll-prd {
    border: none;
    background: none;
    background-color: rgba(128, 128, 128, 0.3);
}

.carousel-control-prev {
    justify-content: flex-start !important;
}

.carousel-control-next {
    justify-content: flex-end !important;
}

.nav-item img {
    width: 65px;
    height: 31px;

}

.scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroll-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroll::-webkit-scrollbar-track {
    background: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #FF914D;
    border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #d87e3e;
}

.icon-list-custom-ul {
    --bs-nav-link-padding-x: 2rem;
}

.icon-list-custom-button {
    padding-top: 0;
    padding-bottom: 0;
}

.icon-list-custom-image {
    width: auto !important;
    height: auto !important;
    max-width: 120px !important;
    max-height: 60px !important;
}

.ul-custom-icon {
    flex-wrap: inherit !important;
    overflow-x: auto !important;
    justify-content: center;
    display: flex;
    align-items: center;
}

.custom-font-btn {
    font-size: larger !important;
    color: black !important;
    font-weight: 500 !important;
}

.custom-font-btn-white {
    font-size: larger !important;
    color: snow !important;
    font-weight: 500 !important;
}

.nav-pills .nav-link.active {
    background-color: rgb(252 249 7 / 84%) !important;
}

.cus-label {
    height: 60px !important;
    width: 70px !important;
    margin-top: 2px !important;
    padding: 1px !important;
}

.custom-btn-gr label {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-btn-mobile {
    display: none;
}

h3.title-countdown {
    font-size: 15px !important;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1100px !important;
    }
}

@media screen and (max-width:1024px) {

    .bg-laptop-new.p-3.border-bottom,
    .bg-laptop-cu.p-3.border-bottom,
    .bg-pc-theo-nhu-cau.p-3.border-bottom,
    .bg-pc.p-3.border-bottom,
    .bg-man-hinh.p-3.border-bottom,
    .bg-phu-kien.p-3.border-bottom {
        padding-top: 2px !important;
    }


    .icon-list-custom-button {
        padding: 0 10px !important;
    }

    button.nav-link {
        width: 130px;
        height: 65px;
        background-color: #85858524;
    }

    .icon-list-custom-image {
        max-width: 100px !important;
    }

    button.custom-font-btn {
        width: auto;
        height: auto;
    }

    button.custom-font-btn-white {
        width: auto;
        height: auto;
    }

    h3.title-countdown {
        font-size: 13px !important;
    }

    .title-flash-sale {
        background: url("image-flash-sale/flash-sale-960-120.gif")no-repeat;
        padding-left: 40%;
    }

    button#pills-home-tab {
        justify-content: center;
    }

    .title-countdown {
        font-size: 12px !important;
    }

    .time-end {
        font-size: 24px !important;
        width: 80%;
    }

    span#seconds::before,
    span#minutes::before {
        font-size: 15px;

    }

    .listing-timeline {
        margin-top: auto;
        margin-bottom: auto;

    }

    span.badge {
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {

    .bg-laptop-new.p-3.border-bottom,
    .bg-laptop-cu.p-3.border-bottom,
    .bg-pc-theo-nhu-cau.p-3.border-bottom,
    .bg-pc.p-3.border-bottom,
    .bg-man-hinh.p-3.border-bottom,
    .bg-phu-kien.p-3.border-bottom {
        padding-top: 5px !important;
    }

    .btn-scroll-x,
    .btn-scroll-prd {
        display: flex;
        height: 29px;
        width: 29px;
    }

    .custom-filters-btn {

        font-size: 15px !important;
        font-weight: 400 !important;
    }

    .icon-list-custom-button {
        padding: 0 10px !important;
    }

    /* .nav-link.border-btn {
        padding: 0 10px !important;
    } */
    .custom-padding-btn {
        padding: 2px 10px !important;
    }

    .icon-list-custom-image {
        max-width: 80px !important;
    }

    button.nav-link {
        width: 120px;
        height: 55px;

    }

    .icon-list-custom-image {
        max-width: 90px !important;
    }

    button.custom-font-btn {
        width: auto;
        height: auto;
    }

    button.custom-font-btn-white {
        width: auto;
        height: auto;
    }

    h3.title-countdown {
        font-size: 12px !important;
    }

    .custom-btn-time {
        margin-top: 15px;
        height: 70px !important;
        width: 150px !important;
    }

    #carouselExample {
        display: block;
    }

    .img-fluid {
        display: none;
    }

    #carouselExampleInterval {
        display: none;
    }

    .nav.nav-pills.mb-3.mt-auto.justify-content-around {
        margin-top: 7px !important;
    }

    .product {
        flex: 0 0 110px;
        margin-right: 3px;
    }

    .product-sale {
        flex: 0 0 110px !important;
        margin-right: 3px !important;
    }

    .prd-name {
        font-size: 12px;
    }

    .card-body p {
        margin-bottom: 5px;
    }

    .product-left {
        font-size: 14px !important;

    }

    .lightning-icon {
        height: 23px !important;
    }

    .title-flash-sale {
        background: url("image-flash-sale/flash-sale-720-200.gif");
        height: 190px;
        padding-left: 0;
        display: block;
    }

    .time-end-flashSale {
        width: 40%;
        margin-left: 60%;
        margin-top: 20px;
    }

    .listing-timeline {
        width: 100%;
        margin-top: 30px;
    }

    .title-countdown {
        font-size: 15px !important;
    }

    span.badge {
        font-size: 17px;
    }

    .mb-mg {
        margin-top: 60px;
    }

    .menu-btn {
        display: none;
    }

    .menu-btn-mobile {
        display: flex;
        max-width: 100%;
        background-color: #ffffff;
        position: fixed;
        top: 0px;
        z-index: 22;
    }

    .cus-label-mobile {
        height: 50px !important;
        width: 130px !important;
        border-radius: 0px !important;
        display: flex !important;
        align-items: center;
    }

    .custom-btn-gr-mobile label {
        font-size: 14px;
    }

    .custom-btn-gr-mobile {
        max-width: 100%;
        position: relative;
        z-index: 3;
        overflow: visible;
        white-space: unset;
        display: none;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: unset !important;
    }

}

@media screen and (max-width:480px) {
    .custom-btn-time {
        margin-top: 0;
        height: 70px !important;
        width: 150px !important;
    }

    .title-flash-sale {
        background: url("image-flash-sale/flash-sale-480-200.gif");
        height: 160px;
    }

    .nav.nav-pills.mb-3.mt-auto.justify-content-around {
        margin-top: 7px !important;
    }

    button.nav-link {
        transform: scale(0.9);
        background-color: #8585854a;
        width: 100px;
        height: 40px;
    }

    #pills-home-tab {
        transform: scale(0.9);
        background-color: #8585854a;
        width: 100px;
        height: 40px;
    }

    .custom-filters-btn {

        font-size: 12px !important;

    }

    .nav-pills .nav-link.active {
        transform: scale(0.8);

    }

    .listing-timeline {

        margin-top: 10px;
    }

    .title-countdown {
        font-size: 14px !important;
    }

    span.badge {
        font-size: 16px;
    }


    .custom-font-btn {
        font-size: small !important;
    }

    .custom-font-btn-white {
        font-size: small !important;
    }

    button.custom-font-btn {
        width: auto !important;
        height: auto !important;
    }

    button.custom-font-btn-white {
        display: block;
        max-width: 90px !important;
        height: 120px !important;
    }
}

@media screen and (max-width:327px) {
    .custom-btn-time {
        margin-top: 0;
        height: 50px !important;
        width: 100px !important;
        font-size: 10px !important;
    }

    h3.title-countdown {
        font-size: 8px !important;
    }

    span.badge.bg-dark {
        font-size: 10px;
    }

    button.custom-font-btn {
        width: auto;
        height: auto;
    }

    button.custom-font-btn-white {
        width: auto;
        height: auto;
    }

    .nav-item {
        width: 100px;
    }

    button.nav-link {
        transform: scale(0.6);
    }

    #pills-home-tab {
        transform: scale(0.6);

    }

    .nav-pills .nav-link.active {
        transform: scale(0.6);

    }
}